<h1>Listing piles</h1>

<table>
  <thead>
    <tr>
      <th>Card</th>
      <th>Deck</th>
      <th>Count</th>
      <th>Board</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @piles.each do |pile| %>
      <tr>
        <td><%= pile.card_id %></td>
        <td><%= pile.deck_id %></td>
        <td><%= pile.count %></td>
        <td><%= pile.board %></td>
        <td><%= link_to 'Show', pile %></td>
        <td><%= link_to 'Edit', edit_pile_path(pile) %></td>
        <td><%= link_to 'Destroy', pile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pile', new_pile_path %>
