<p id="notice"><%= notice %></p>

<p>
  <strong>Card:</strong>
  <%= @pile.card_id %>
</p>

<p>
  <strong>Deck:</strong>
  <%= @pile.deck_id %>
</p>

<p>
  <strong>Count:</strong>
  <%= @pile.count %>
</p>

<p>
  <strong>Board:</strong>
  <%= @pile.board %>
</p>

<%= link_to 'Edit', edit_pile_path(@pile) %> |
<%= link_to 'Back', piles_path %>
