<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @expansion.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @expansion.code %>
</p>

<p>
  <strong>Block:</strong>
  <%= @expansion.block %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @expansion.release_date %>
</p>

<%= link_to 'Edit', edit_expansion_path(@expansion) %> |
<%= link_to 'Back', expansions_path %>
