<%= form_for(@search) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :name_field %><br>
    <%= f.text_area :name_field %>
  </div>
  <div class="field">
    <%= f.label :text_filed %><br>
    <%= f.text_area :text_filed %>
  </div>
  <div class="field">
    <%= f.label :type_field %><br>
    <%= f.text_area :type_field %>
  </div>
  <div class="field">
    <%= f.label :format_field %><br>
    <%= f.text_area :format_field %>
  </div>
  <div class="field">
    <%= f.label :color_field %><br>
    <%= f.text_area :color_field %>
  </div>
  <div class="field">
    <%= f.label :color_exact_field %><br>
    <%= f.check_box :color_exact_field %>
  </div>
  <div class="field">
    <%= f.label :sort_by_field %><br>
    <%= f.text_field :sort_by_field %>
  </div>
  <div class="field">
    <%= f.label :sort_direction_field %><br>
    <%= f.text_field :sort_direction_field %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
