<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @search.user_id %>
</p>

<p>
  <strong>Name field:</strong>
  <%= @search.name_field %>
</p>

<p>
  <strong>Text filed:</strong>
  <%= @search.text_filed %>
</p>

<p>
  <strong>Type field:</strong>
  <%= @search.type_field %>
</p>

<p>
  <strong>Format field:</strong>
  <%= @search.format_field %>
</p>

<p>
  <strong>Color field:</strong>
  <%= @search.color_field %>
</p>

<p>
  <strong>Color exact field:</strong>
  <%= @search.color_exact_field %>
</p>

<p>
  <strong>Sort by field:</strong>
  <%= @search.sort_by_field %>
</p>

<p>
  <strong>Sort direction field:</strong>
  <%= @search.sort_direction_field %>
</p>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
