<h1>Listing cards</h1>

<table>
  <thead>
    <tr>
      <th>Expansion</th>
      <th>Card type</th>
      <th>Types</th>
      <th>Colors</th>
      <th>Name</th>
      <th>Rarity</th>
      <th>Cmc</th>
      <th>Mana cost</th>
      <th>Text</th>
      <th>Flavor</th>
      <th>Artist</th>
      <th>Rulings</th>
      <th>Number</th>
      <th>Power</th>
      <th>Toughness</th>
      <th>Reserved</th>
      <th>Original type</th>
      <th>Original text</th>
      <th>Loyalty</th>
      <th>Newest</th>
      <th>Color</th>
      <th>Formats</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.expansion_id %></td>
        <td><%= card.card_type %></td>
        <td><%= card.types %></td>
        <td><%= card.colors %></td>
        <td><%= card.name %></td>
        <td><%= card.rarity %></td>
        <td><%= card.cmc %></td>
        <td><%= card.mana_cost %></td>
        <td><%= card.text %></td>
        <td><%= card.flavor %></td>
        <td><%= card.artist %></td>
        <td><%= card.rulings %></td>
        <td><%= card.number %></td>
        <td><%= card.power %></td>
        <td><%= card.toughness %></td>
        <td><%= card.reserved %></td>
        <td><%= card.original_type %></td>
        <td><%= card.original_text %></td>
        <td><%= card.loyalty %></td>
        <td><%= card.newest %></td>
        <td><%= card.color_id %></td>
        <td><%= card.formats %></td>
        <td><%= link_to 'Show', card %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_card_path %>
