<p id="notice"><%= notice %></p>

<p>
  <strong>Expansion:</strong>
  <%= @card.expansion_id %>
</p>

<p>
  <strong>Card type:</strong>
  <%= @card.card_type %>
</p>

<p>
  <strong>Types:</strong>
  <%= @card.types %>
</p>

<p>
  <strong>Colors:</strong>
  <%= @card.colors %>
</p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Rarity:</strong>
  <%= @card.rarity %>
</p>

<p>
  <strong>Cmc:</strong>
  <%= @card.cmc %>
</p>

<p>
  <strong>Mana cost:</strong>
  <%= @card.mana_cost %>
</p>

<p>
  <strong>Text:</strong>
  <%= @card.text %>
</p>

<p>
  <strong>Flavor:</strong>
  <%= @card.flavor %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @card.artist %>
</p>

<p>
  <strong>Rulings:</strong>
  <%= @card.rulings %>
</p>

<p>
  <strong>Number:</strong>
  <%= @card.number %>
</p>

<p>
  <strong>Power:</strong>
  <%= @card.power %>
</p>

<p>
  <strong>Toughness:</strong>
  <%= @card.toughness %>
</p>

<p>
  <strong>Reserved:</strong>
  <%= @card.reserved %>
</p>

<p>
  <strong>Original type:</strong>
  <%= @card.original_type %>
</p>

<p>
  <strong>Original text:</strong>
  <%= @card.original_text %>
</p>

<p>
  <strong>Loyalty:</strong>
  <%= @card.loyalty %>
</p>

<p>
  <strong>Newest:</strong>
  <%= @card.newest %>
</p>

<p>
  <strong>Color:</strong>
  <%= @card.color_id %>
</p>

<p>
  <strong>Formats:</strong>
  <%= @card.formats %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
